<%= form_with(model: application, local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :Description %>
  </div>

  <div class="field">
    <%= form.label :Color %>
    <%= form.text_field :Color %>
  </div>

  <div class="field">
    <%= form.label :DefaultStatus %>
    <%= form.text_field :DefaultStatus %>
  </div>

  <div class="field">
    <%= form.label :Link %>
    <%= form.text_field :Link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
